.igs-container {
  background-color: var(--css-black);
  color: var(--css-white);
  padding: 50px 153px 200px 153px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
}
.contact {
  border: 2px solid var(--css-white);
  padding: 10px 30px;
}
.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-igs {
  padding-right: 53px;
}
.text-igs h1 {
  font-size: 66px;
  padding-bottom: 50px;
  line-height: 97.37px;
  font-weight: 500;
}
.text-igs p {
  color: var(--css-purewhite);
  padding-bottom: 50px;
  font-size: 18px;
  font-weight: 500;
  opacity: 30%;
}
